.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .gallery-item {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  